<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="Rectngulo-1">
    <div class="icon icon-bitbloq"></div>
  </div>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/projects">
          <div class="icon icon-bitbloq active"></div>Proyectos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/explore">
          <div class="icon icon-bitbloq"></div>Explora
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/learn">
          <div class="icon icon-bitbloq"></div>Aprende
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help">
          <div class="icon icon-bitbloq"></div>Ayuda
        </a>
      </li>
    </ul>
  </div>
</nav>
